.login-wrapper{
  // border: 1px solid green;
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  background-color: #fefefe;
  padding: 20px;
  margin: auto;
  width: 500px;
  top: 10px;
  // border: 1px solid red;
}

.form-bottom{
  text-align: center;
  padding: 5px;
}

.devise-links{
  margin: 10px;
  text-align: center;
}

.password-warning{
  font-size: 80%;
  text-align: center;
}

