.product-form{
  background-color: #fefefe;
  padding: 20px;
  margin: auto;
  width: 500px;
  top: 10px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow:0px;
  border: 1px solid $border-gray;
  box-shadow: 1px 1px 5px #ccc;
}

.product-new{
  padding: 10px;
}

.product-text-field{
  padding: 10px;
}

.product-images-field{
  padding: 10px;
  margin-bottom: 5px;
}

.product-new-actions{
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.cancel-link{
  text-align: center;
  margin: auto;
  width: 20%;
  margin-top: 10px;
}

.photos-container{
  display: flex;
}

.main-photo{
  width: 50%;
  p{margin: 0px;}
  text-align: center;
}

.extra-photos{
  width: 50%;
  p{margin: 0px;}
  text-align: center;
}
