.product-show-container{
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
}

.product-images{
  margin-right: 5px;
  min-height: 60vh;
  height: auto;
  width: 60%;
}

.product-image{
  margin: auto;
  margin-bottom: 10px;
  height: 500px;
  width: 500px;
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-details{
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  min-height: 40vh;
  width: 40%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 5px;
  z-index: 1;
}

.product-info {
  margin: 5px;
  padding: 10px;
}

.buy-box {
  margin: 5px;
  padding: 10px;
}

.centered-button{
  text-align: center;
}
