<div class="admin-sidebar">

  <div class="sidebar-link">
    <%= link_to new_admin_product_path do %>
    <p> Products </p>
    <% end %>
  </div>

  <div class="sidebar-link">
    <%= link_to "#" do %>
    <p> Orders </p>
    <% end %>
  </div>

  <div class="sidebar-link">
    <%= link_to "#" do %>
    <p> Returns </p>
    <% end %>
  </div>

  <div class="sidebar-link">
    <%= link_to "#" do %>
    <p> Customers </p>
    <% end %>
  </div>

</div>
