<% if notice %>

<div class="custom-alert alert-info alert-dismissible" role="alert">
  <%= notice %>
</div>

<% end %>

<% if alert %>

<div class="alert alert-warning alert-dismissible" role="alert">
  <%= alert %>
</div>

<% end %>

<% if cart_item_created %>

<div class="cart-item-created" id="cart-notification">
  <div class="cart-item-created-card">
    <%= cart_item_created %>
    <p id="dismissCartNotification"> x </p>
  </div>
</div>

<% end %>
