<div class="navbar">

  <% if user_signed_in? %>

  <div class="links">

    <% if current_user.is_admin == true %>

    <%= link_to "Add Product", new_product_path(@product) %>

    <% else %>

    <%= link_to "My Cart", cart_path(current_user), class: "link" %>

    <% end %>

    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "link" ) %>

  </div>

  <% elsif user_signed_in? == false && current_page?(root_url) %>
  <div class="links">
    <a onclick="document.getElementById('modal-wrapper').style.display='block'"> Login </a>
  </div>

  <% end %>

</div>
