<div class="navbar">

  <div class="sidebar-trigger">
    <span onclick="openNav()">
      <i class="fa fa-bars"></i>
    </span>
  </div>

  <% if user_signed_in? %>

  <div class="links">
    <% if current_user.is_admin %>
    <%= link_to "Add Product", new_product_path(@product), class: "link" %>
    <%= link_to "Manage Products", "#", class: "link" %>
    <% else %>
    <%= link_to cart_path(current_user), class: "link" do %>
      <i class="fa fa-shopping-cart"></i>
    <% end %>
    <% end %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "link" ) %>
  </div>

  <% elsif user_signed_in? == false && current_page?(root_url) %>
  <div class="links">
    <a onclick="document.getElementById('modal-wrapper').style.display='block'"> Login </a>
  </div>

  <% end %>

</div>
