<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <a href="#">About</a>
  <a href="#">Account</a>
  <a href="#">Support</a>
  <a href="#">Contact</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.left = "0px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.left = "-250px";
  }
</script>
