<div class="admin-interface-container">

  <%= render 'shared/admin_sidebar' %>

  <div class="admin-body">

    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>
    <h1>admin</h1>

  </div>

</div>
