<div class="home-banner">

  <h1> <span class="bolder" id="home"> kott</span> </h1>

  <div class="home-banner-links">
    <a class= "link" href="#">About</a>
    <a class= "link" href="#">Account</a>
    <a class= "link" href="#">Support</a>
    <a class= "link" href="#">Contact</a>
  </div>

  <div class="container-fluid featured-container">
    <div class="row">
      <% @featured.each do |featured_product| %>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <%= link_to product_path(featured_product) do %>
        <div class="featured-card">

          <%= image_tag("product.png", class: "featured-product-image") %>

          <div class="product-hover-card">
            <div class="product-information-wrapper">
              <div class="product-information">
                <p>test</p>
              </div>
            </div>
          </div>

        </div>

        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Code for popup login created by front-end wizards -->

  <div id="modal-wrapper" class="modal">
    <div class="modal-content animate">
      <%= render "shared/login" %>
    </div>

    <div class="close">X</div>
  </div>

  <script>
    var modal = document.getElementById('modal-wrapper');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

