/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */
.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 1000;
}

.custom-alert {
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-info {
  background: $green;
}

.alert-warning {
  background: $red;
}

.cart-item-created{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.cart-item-created-card{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  padding: 10px;
}

.cart-notification-header{
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}

.dismiss-button{
  text-align: right;
  margin-right: 10px;
  font-weight: bolder;
  cursor: pointer;
  p{
    transition: all 0.5s ease;
    margin: 0px;
  }
  p:hover{
    color: gray;
    transition: all 0.5s ease;
  }
}

.alert-header{
  text-align: center;
}

.alert-text{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.alert-text > div{
  width: 50%;
}
