// SHOW

.cart-container{
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

// LEFT

.cart-left{
  width: 60%;
  margin-right: 10px;
  height: auto;
}

.cart-products{
  margin-bottom: 10px;
}

.cart-product-image{
  height: 200px;
  width: 200px;
}

.cart-products-header{
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.cart-product{
  padding: 10px;
  display: flex;
  max-height: 220px;
  border: 1px solid #d3d3d3;
  border-bottom: 0px;
}

.empty-cart-product{
  text-align: center;
  padding: 10px;
  min-height: 220px;
  border: 1px solid #d3d3d3;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart{
  text-align: center;
}

.cart-product:last-child{
  border-top: 0px;
  border-bottom: 1px solid #d3d3d3;
  border-radius: 0 0 4px 4px;
}

.cart-product-info{
  width: 100%;
  padding: 0 10px;
  font-size: 90%;
}

.cart-product-title{
  p{margin-bottom: 0px;}
  margin-bottom: 5px;
  text-decoration: underline;
}

.cart-product-actions{
  display: flex;
  background-color: gray;
  justify-content: space-around;
}

// RIGHT

.cart-right{
  width: 40%;
  color: white;
  background-color: #0f0f0f;
  border-radius: 4px;
}


.cart-summary-header{
  padding: 10px;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 4px 4px 0 0;
}

.cart-summary-body{
  padding: 20px;
  width: 100%;
}

.cart-summary-button{
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.split-apart{
  display: flex;
  justify-content: space-between;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}
