.custom-navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  a{color: black; margin: 10px;}
  position: sticky;
  top: 0vh;
  background-color: orange;
}

.custom-navbar-left{
  display: flex;
  align-items: center;
  width: 20%;
  height: 7vh;
  padding: 12px 15px;;
}

.custom-navbar-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 7vh;
  padding: 20px;
}

.navbar-link{
  p{margin: 5px; }
}

a.navbar-link:hover{
  text-decoration: none
}

.notifiable-link{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.notification-badge{
  font-size: 75%;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  width: 20px;
  height: 20px;
  bottom: -5px;
  right: -5px;
}

.no-text-deco{
}

.no-text-deco:hover{
  text-decoration: none;
  font-weight: bolder;
}

