.navbar{
  justify-content: space-between;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 7vh;
}


.navbar-left{
  justify-content: flex-begin;
  display: flex;
  width: 50%;
}

.navbar-right{
  justify-content: flex-end;
  display: flex;
  width: 50%;
}

.links{
  display: flex;
  justify-content: flex-end;
  height: 32px;
}

.link{
  margin: 0 10px;
}

.fa-bars{
  cursor: pointer;
}

.cart-wrapper{
  position: relative;
}

.cart-counter{
  position: absolute;
  bottom: -5px;
  right: -5px;
}


.dot {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  font-size: 80%;
  color: white;
  font-weight: bolder;

}
