<div class="home-banner">

  <h1> <span class="bolder" id="home"> kott </span> </h1>

  <div class="container-fluid featured-container">
    <div class="row">
      <% @products.each do |featured_product| %>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <%= link_to product_path(featured_product) do %>
        <div class="featured-card">

          <%= image_tag("product.png", class: "featured-product-image") %>

          <div class="product-hover-card">
            <div class="product-information-wrapper">
              <div class="product-information">
                <p>test</p>
              </div>
            </div>
          </div>

        </div>

        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
